@use '../../../../style/styles.scss' as *;

.containerHeader {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .header-top {
    display: flex;
    flex-direction: column;
    gap: 4px;

    h1 {
      margin: 0;
      font-weight: 700;
    }

    p {
      margin: 0;
      font-weight: 600;
      color: var(--color-default);
    }
  }

  .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;

    .containerButtons {
      width: 100%;
      display: flex;
      gap: 12px;
      align-items: center;
      margin-top: 1rem;
      gap: 12px;
      flex-wrap: wrap;
    }

    .filters {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }

    .buttonContainer {
      width: 50%;
      gap: 2rem;
    }
  }
}

.select {
  width: 100%;
}
