<div class="containerHeader">
  <div class="header-top">
    <h1>OSs</h1>
    <p>Gerencie e visualize aqui suas OSs referentes às suas lojas</p>
  </div>

  <div class="header-bottom">
    <div class="containerButtons">
      <app-action-button
        label="Filtros"
        icon="fa-solid fa-sliders"
        (clickAction)="toggleDropdown()"
      ></app-action-button>

      <app-action-button
        label="Nova OS"
        icon="fa-solid fa-plus"
        (clickAction)="goToCreate()"
        variant="primary"
      ></app-action-button>
    </div>
  </div>
</div>

<app-dropdown
  [open]="openDropdown"
  [groups]="filterGroups"
  [(filters)]="filters"
  (applyFilters)="applyFilters()"
  (clearFilters)="clearFilters()"
></app-dropdown>

<app-table-os [filters]="appliedFilters"></app-table-os>
