<div class="register-container">
  <h2>Realize seu cadastro para acessar o sistema</h2>
  <p>Crie sua conta para acessar o sistema e navegar</p>

  <div class="steps-text">
    <p>Step {{ currentStep }}/3</p>
  </div>

  <form-stepone [stepOneErrors]="stepOneErrors" *ngIf="currentStep === 1"></form-stepone>
  <form-steptwo [stepTwoErrors]="stepTwoErrors" *ngIf="currentStep === 2"></form-steptwo>
  <form-stepthree [stepThreeErrors]="stepThreeErrors" *ngIf="currentStep === 3"></form-stepthree>

  <div class="buttons">
    <div class="buttons">
      <button *ngIf="currentStep === 1" class="btn-primary" (click)="handleNextAction()">
        Avançar
      </button>

      <app-toggle-actions
        *ngIf="currentStep > 1"
        [nextLabel]="currentStep < 3 ? 'Avançar' : 'Finalizar'"
        (back)="handleBack()"
        (next)="handleNextAction()"
      ></app-toggle-actions>
    </div>
  </div>

  <div class="divider"></div>

  <p class="signup-text">Já tem uma conta? <a routerLink="/">Clique aqui para fazer login</a></p>

  <app-back-button-circle (clickBack)="handleBack()"> Voltar </app-back-button-circle>
</div>
