<div class="login-container">
  <h2>Realize seu cadastro para acessar o sistema</h2>
  <p>Crie sua conta para acessar o sistema e navegar</p>

  <p>Step {{ currentStep }}/3</p>

  <form-stepone *ngIf="currentStep === 1" [data]="formService.stepOneData"></form-stepone>

  <!-- <form-steptwo *ngIf="currentStep === 2" [data]="formService.stepTwoData"></form-steptwo>
  <form-stepthree *ngIf="currentStep === 3" [data]="formService.stepThreeData"></form-stepthree>
-->

  <div class="buttons">
    <button class="btn-secondary" *ngIf="currentStep > 1" (click)="prevStep()">Voltar</button>

    <button class="btn-primary" (click)="currentStep < 3 ? nextStep() : submit()">
      {{ currentStep < 3 ? 'Avançar' : 'Finalizar' }}
    </button>
  </div>

  <div class="divider"></div>

  <p class="signup-text">
    Já tem uma conta? <a routerLink="/login">Clique aqui para fazer login</a>
  </p>
</div>
