@use '../../../../style/styles.scss' as *;

.register-container {
  padding-top: 3rem;
  padding-bottom: 3rem;

  h2 {
    height: auto;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
  }

  p {
    font-size: 0.9rem;
    color: #555;
  }

  .divider {
    position: relative;
    border-top: 1px dashed #ccc;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;

    &::after {
      position: absolute;
      top: -0.65rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: #fff;
      padding: 0 0.5rem;
      font-size: 0.8rem;
      color: #555;
    }
  }

  .signup-text {
    font-size: 0.85rem;
    text-align: center;
    cursor: pointer;
  }

  .steps-text {
    width: 100%;
    cursor: pointer;
    display: flex;

    font-weight: 600;
    align-items: end;
    justify-content: flex-end;
  }
  .steps-text p {
    color: var(--color-primary);
  }
  .buttons {
    margin-top: 2rem;
  }
}
