<app-table-header
  icon="fa-solid fa-users"
  title="Funcionários"
  (search)="handleSearch($event)"
></app-table-header>

<div class="table-container">
  <div class="table table-grid">
    <div
      class="table-head"
      [style.grid-template-columns]="
        'minmax(160px,1fr) minmax(220px,1.5fr) minmax(140px,1fr) minmax(140px,1fr) minmax(140px,1fr) minmax(140px,1fr) minmax(140px,1fr) 120px'
      "
    >
      <div *ngFor="let col of columns">{{ col.label }}</div>
    </div>

    <div
      class="table-row"
      *ngFor="let user of osList"
      [style.grid-template-columns]="
        'minmax(160px,1fr) minmax(220px,1.5fr) minmax(140px,1fr) minmax(140px,1fr) minmax(140px,1fr) minmax(140px,1fr) minmax(140px,1fr) 120px'
      "
    >
      <div class="table-cell">{{ user.nome }}</div>
      <div class="table-cell">{{ user.email }}</div>
      <div class="table-cell">{{ user.cpf }}</div>
      <div class="table-cell">{{ user.nascimento }}</div>
      <div class="table-cell">{{ user.cidade }}</div>
      <div class="table-cell">{{ user.bairro }}</div>
      <div class="table-cell">{{ user.cargo }}</div>

      <div class="table-cell actions btnFlex">
        <div class="btn btn-edit upscale">
          <i class="fa-solid fa-pen"></i>
        </div>
        <div class="btn btn-delete upscale">
          <i class="fa-solid fa-trash"></i>
        </div>
      </div>
    </div>
  </div>

  <app-table-footer
    [page]="page"
    [totalPages]="totalPages"
    [totalItems]="osList.length"
    [pageSize]="5"
    (pageChange)="changePage($event)"
  ></app-table-footer>
</div>
