<app-table-header
  icon="fa-solid fa-users"
  title="Funcionários"
  (search)="handleSearch($event)"
></app-table-header>

<div class="table-container">
  <div class="table-scroll">
    <div class="table table-grid">
      <div
        class="table-head"
        [style.grid-template-columns]="
          'minmax(160px,1fr) minmax(220px,1.5fr) minmax(140px,1fr) minmax(140px,1fr) minmax(140px,1fr) minmax(140px,1fr) minmax(140px,1fr) 120px'
        "
      >
        <div
          *ngFor="let col of columns"
          class="table-head-cell"
          [class.sortable]="!!col.sortKey"
          [class.active-sort]="sortColumn === col.sortKey"
          (click)="toggleSort(col)"
        >
          <span>{{ col.label }}</span>
          <span class="sort-indicator" *ngIf="getSortIndicator(col)">{{ getSortIndicator(col) }}</span>
        </div>
      </div>

      <div
        class="table-row"
        *ngFor="let user of userList"
        [style.grid-template-columns]="
          'minmax(160px,1fr) minmax(220px,1.5fr) minmax(140px,1fr) minmax(140px,1fr) minmax(140px,1fr) minmax(140px,1fr) minmax(140px,1fr) 120px'
        "
      >
        <div class="table-cell">{{ user.name }}</div>
        <div class="table-cell">{{ user.email }}</div>
        <div class="table-cell">{{ user.phoneNumber }}</div>
        <div class="table-cell">{{ getRoleLabel(user.role) }}</div>
        <div class="table-cell">{{ getStatusLabel(user.isActive) }}</div>
        <div class="table-cell">{{ getAccessLabel(user.fullAccess) }}</div>
        <div class="table-cell" [title]="getUnitNames(user.unitIds)">
          {{ getTruncatedUnitNames(user.unitIds) }}
        </div>

        <div class="table-cell">
          <app-table-actions (onEdit)="handleEdit(user)" (onDelete)="handleDelete(user)" />
        </div>
      </div>
    </div>
  </div>

  <app-edit-employee-modal
    *ngIf="activeModal === 'edit'"
    [employee]="selectedEmployeer"
    (closeModalEvent)="handleModalClose($event)"
  ></app-edit-employee-modal>

  <app-modal-delete
    *ngIf="activeModal === 'delete'"
    [registro]="selectedEmployeer?.id"
    (confirm)="confirmDelete()"
    (cancel)="closeModal()"
  ></app-modal-delete>

  <app-table-footer
    [page]="page"
    [totalPages]="totalPages"
    [totalItems]="userList.length"
    [pageSize]="5"
    (pageChange)="changePage($event)"
  ></app-table-footer>
</div>
