@import '../../../../style/styles.scss';

.table-head,
.table-row {
  display: grid;
  min-height: 60px;
  align-items: center;
  white-space: nowrap;
}

.table-head {
  background: #f7f8fc;
  color: #555;
  border-bottom: 1px solid #eee;
}

.table-row {
  border-bottom: 1px solid #f1f1f1;

  &:last-child {
    border-bottom: none;
  }

  > .table-cell:first-child {
    justify-content: flex-start;
  }

  > .table-cell:last-child {
    justify-content: flex-end;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
}
