<div class="containerHeader">
  <h1>Nova Loja</h1>
  <p>Adicione uma nova loja à sua rede</p>
  <app-back-button (back)="goBackList()"></app-back-button>
</div>

<app-register-card
  [title]="steps[stepIndex].title"
  [subtitle]="steps[stepIndex].description"
  [stpsatual]="stepIndex + 1"
  [steptotal]="steps.length"
  [image]="steps[stepIndex].image"
  [backgroundImage]="steps[stepIndex].background"
  (next)="nextStep()"
  (back)="previousStep()"
>
  <ng-container [ngSwitch]="stepIndex">
    <app-step-one-stores
      *ngSwitchCase="0"
      [data]="storeData"
      [errors]="errors"
    ></app-step-one-stores>

    <app-step-two-stores
      *ngSwitchCase="1"
      [data]="storeData"
      [errors]="errors"
    ></app-step-two-stores>
  </ng-container>
</app-register-card>
