<div class="containerHeader">
  <h1>Nova Loja</h1>
  <p>Adicione uma nova loja à sua rede</p>
  <app-back-button (back)="goBackList()"></app-back-button>
</div>


<ng-container *ngIf="step === 1">
  <app-register-card
    title="Informações da Loja"
    description="Adicione os dados da loja"
    image="assets/images/loja.svg"
    stepInfo="Etapa 1 - 2"
  >
    <app-input-field label="Nome" type="text" [(ngModel)]="name"></app-input-field>
    <app-input-field label="CNPJ" type="text" [(ngModel)]="cnpj"></app-input-field>
    <div class="form-actions">
      <button type="button" class="btn-primary upscale" (click)="nextStep()">Avançar</button>
    </div>
  </app-register-card>
</ng-container>

<ng-container *ngIf="step === 2">
  <app-register-card
    title="Endereço da Loja"
    description="Preencha o endereço da loja"
    image="assets/images/loja.svg"
    stepInfo="Etapa 2 - 2"
  >
    <div style="display: flex; gap: 1rem;">
      <app-input-field label="CEP" type="text" [(ngModel)]="addressZip" style="flex:1"></app-input-field>
      <app-input-field label="Número" type="text" [(ngModel)]="addressNumber" style="flex:0.5"></app-input-field>
    </div>
    <app-input-field label="Rua" type="text" [(ngModel)]="addressStreet"></app-input-field>
    <app-input-field label="Bairro" type="text" [(ngModel)]="addressDistrict"></app-input-field>
    <div style="display: flex; gap: 1rem;">
      <app-input-field label="Cidade" type="text" [(ngModel)]="addressCity" style="flex:1"></app-input-field>
      <app-input-field label="Estado" type="text" [(ngModel)]="addressState" style="flex:0.5"></app-input-field>
    </div>
    <div class="form-actions">
      <button type="button" class="btn-secondary upscale" (click)="goBackStep()">Voltar</button>
      <button type="button" class="btn-primary upscale" (click)="submit()">Finalizar</button>
    </div>
  </app-register-card>
</ng-container>
