.containerHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 2rem;
}

.containerHeader p {
  color: var(--color-default);
  font-weight: 600;
  margin-bottom: 1rem;
}
