<div class="login-container">
  <h2>Entre com sua conta para acessar o sistema</h2>
  <p>Entre com sua conta para ter acesso ao nosso sistema de gerenciamento</p>

  <form class="login-form">
    <app-input-field
      type="text"
      id="username"
      name="email"
      label="Email"
      placeholder="Digite seu Email aqui"
      [maxlength]="50"
      width="100%"
      [(ngModel)]="email"
    ></app-input-field>

    <a class="forgot-password">Esqueci a senha</a>

    <app-input-field
      type="password"
      id="password"
      label="Senha"
      name="senha"
      placeholder="Digite sua senha"
      [maxlength]="50"
      [(ngModel)]="password"
    ></app-input-field>

    <button type="submit" class="btn-primary">Entrar</button>

    <div class="divider"></div>

    <p class="signup-text">
      Ainda não tem conta? <a routerLink="/register">Clique aqui para se cadastrar</a>
    </p>
  </form>
</div>
