@import '../../../../style/styles.scss';

.login-container {
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
  }

  p {
    font-size: 0.9rem;
    color: #555;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
    width: 70vb;

    .forgot-password {
      font-size: 0.85rem;
      cursor: pointer;
      text-align: right;
      align-self: flex-end;
    }

    .divider {
      position: relative;
      border-top: 1px dashed #ccc;
      margin-top: 3rem;
      margin-bottom: 3rem;
      text-align: center;

      &::after {
        position: absolute;
        top: -0.65rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        padding: 0 0.5rem;
        font-size: 0.8rem;
        color: #555;
      }
    }

    .signup-text {
      font-size: 0.85rem;
      text-align: center;
    }
  }
}
