<div class="containerHeader">
  <div class="header-top">
    <h1>Funcionários</h1>
    <p>Gerencie e visualize aqui seus funcionários cadastrados</p>
  </div>

  <div class="header-bottom">
    <div class="containerButtons">
      <div class="buttonContainer">
        <button class="button upscale" [routerLink]="['/employees-create']">
          <p>Novo Funcionário</p>
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>

      <div class="filters">
        <div class="select">
          <app-select-field label="Lojas" [options]="lojasOptions" [(ngModel)]="filters.unitId"></app-select-field>
        </div>

        <div class="select">
          <app-select-field label="Cargos" [options]="cargosOptions" [(ngModel)]="filters.role"></app-select-field>
        </div>

        <button class="btn-primary" type="button" (click)="applyFilters()">
          <p>Filtrar</p>
        </button>
      </div>
    </div>
  </div>
</div>

<app-table-employees [filters]="appliedFilters"></app-table-employees>
