<div class="forgot-password-container">
  <h2>Redefinição de senha</h2>
  <p *ngIf="currentStep === 1">Informe o email associado a sua conta para receber o código de acesso</p>
  <p *ngIf="currentStep === 2">Informe o código enviado para o seu email para redefinição de senha</p>
  <p *ngIf="currentStep === 3">Digite sua nova senha para redefinição</p>

  <div class="steps-text">
    <p>{{ currentStep }}/3</p>
  </div>

  <form-forgot-step-one [stepOneErrors]="stepOneErrors" [(email)]="email" *ngIf="currentStep === 1"></form-forgot-step-one>
  <form-forgot-step-two [stepTwoErrors]="stepTwoErrors" [(code)]="code" *ngIf="currentStep === 2"></form-forgot-step-two>
  <form-forgot-step-three [stepThreeErrors]="stepThreeErrors" [(newPassword)]="newPassword" [(confirmNewPassword)]="confirmNewPassword" *ngIf="currentStep === 3"></form-forgot-step-three>

  <div class="buttons">
    <div class="buttons">
      <button *ngIf="currentStep === 1" class="btn-primary" (click)="handleNextAction()">
        Avançar
      </button>

      <app-toggle-actions
        *ngIf="currentStep > 1"
        [nextLabel]="currentStep < 3 ? 'Avançar' : 'Finalizar'"
        (back)="handleBack()"
        (next)="handleNextAction()"
      ></app-toggle-actions>
    </div>
  </div>

  <div class="divider"></div>

  <app-back-button-circle (clickBack)="handleBack()"> Voltar </app-back-button-circle>
</div>

