<app-input-field
  label="Marca"
  type="text"
  labelBgColor="#fff"
  [(ngModel)]="data.brand"
></app-input-field>
<div class="error" *ngIf="errors['brand']">
  {{ errors['brand'] }}
</div>

<app-input-field
  label="Modelo"
  type="text"
  labelBgColor="#fff"
  [(ngModel)]="data.model"
></app-input-field>
<div class="error" *ngIf="errors['model']">
  {{ errors['model'] }}
</div>

<app-input-field
  label="Cor"
  type="text"
  labelBgColor="#fff"
  [(ngModel)]="data.color"
></app-input-field>
<div class="error" *ngIf="errors['color']">
  {{ errors['color'] }}
</div>

<app-input-field
  label="Observações"
  type="text"
  labelBgColor="#fff"
  [(ngModel)]="data.notes"
></app-input-field>
<div class="error" *ngIf="errors['notes']">
  {{ errors['notes'] }}
</div>
