<app-input-field
  label="Marca"
  type="text"
  [(ngModel)]="brand"
  (ngModelChange)="brandChange.emit($event)"
></app-input-field>

<app-input-field
  label="Modelo"
  type="text"
  [(ngModel)]="model"
  (ngModelChange)="modelChange.emit($event)"
></app-input-field>

<app-input-field
  label="Cor"
  type="text"
  [(ngModel)]="color"
  (ngModelChange)="colorChange.emit($event)"
></app-input-field>

<app-input-field
  label="Observações"
  type="text"
  [(ngModel)]="notes"
  (ngModelChange)="notesChange.emit($event)"
></app-input-field>
