.containerHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 2rem;
}

.containerHeader p {
  color: var(--color-default);
  font-weight: 600;
  margin-bottom: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.form-actions {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 100%;
  align-items: end;
}
