<ng-container *ngIf="!segundaEtapa">
  <app-os-step-one
    [lojas]="lojas"
    [clientes]="clientes"
    [veiculos]="veiculos"
    [(loja)]="loja"
    [(cliente)]="cliente"
    [(veiculo)]="veiculo"
    [(dataEntrada)]="dataEntrada"
    [(dataSaida)]="dataSaida"
    [(pintura)]="pintura"
    [(funilaria)]="funilaria"
    [(valorPintura)]="valorPintura"
    [(valorFunilaria)]="valorFunilaria"
  ></app-os-step-one>
</ng-container>

<ng-container *ngIf="segundaEtapa">
  <app-os-step-two
    [(peca)]="peca"
    [(quantidade)]="quantidade"
    [(valorUnitario)]="valorUnitario"
    (adicionarPeca)="adicionarPeca()"
    [pecasAdicionadas]="pecasAdicionadas"
    (removerPecaEvent)="removerPeca($event)"
    (aumentarQtd)="aumentarQuantidade($event)"
    (diminuirQtd)="diminuirQuantidade($event)"
  ></app-os-step-two>
</ng-container>
