.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
  cursor: pointer;

  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    transition: background-color 0.2s;

    i {
      font-size: 10px;
      color: white;
    }
  }

  p {
    margin: 0;
    font-weight: bold;
    color: var(--color-primary);
  }

  &:hover .circle {
    background-color: var(--color-secondary);
  }
}
