<div class="row">
  <div class="field">
    <app-select-field
      label="Cliente"
      [options]="clientes"
      labelBgColor="#fff"
      [(ngModel)]="cliente"
      (ngModelChange)="clienteChange.emit($event)"
    ></app-select-field>
  </div>
</div>

<div class="row">
  <div class="field small">
    <app-input-field
      label="Placa"
      labelBgColor="#fff"
      type="text"
      [(ngModel)]="plate"
      (ngModelChange)="plateChange.emit($event)"
    ></app-input-field>
  </div>

  <div class="field small">
    <app-input-field
      label="Ano"
      labelBgColor="#fff"
      type="text"
      [(ngModel)]="year"
      (ngModelChange)="yearChange.emit($event)"
    ></app-input-field>
  </div>
</div>

<div class="row">
  <div class="field">
    <app-input-field
      label="VIN"
      type="text"
      labelBgColor="#fff"
      [(ngModel)]="vin"
      (ngModelChange)="vinChange.emit($event)"
    ></app-input-field>
  </div>
</div>

<div class="row">
  <div class="field">
    <app-input-field
      label="Renavam"
      type="text"
      labelBgColor="#fff"
      [(ngModel)]="renavam"
      (ngModelChange)="renavamChange.emit($event)"
    ></app-input-field>
  </div>
</div>

<div class="row">
  <div class="field">
    <app-input-field
      label="Nº Sinistro"
      type="text"
      labelBgColor="#fff"
      [(ngModel)]="insuranceClaimNumber"
      (ngModelChange)="insuranceClaimNumberChange.emit($event)"
    ></app-input-field>
  </div>
</div>
