<div class="row">
  <div class="field">
    <app-select-field
      label="Cliente"
      [options]="clientes"
      labelBgColor="#fff"
      [(ngModel)]="data.cliente"
    ></app-select-field>

    <div class="error" *ngIf="errors['cliente']">
      {{ errors['cliente'] }}
    </div>
  </div>
</div>

<div class="row">
  <div class="field small">
    <app-input-field
      label="Placa"
      labelBgColor="#fff"
      type="text"
      [(ngModel)]="data.plate"
    ></app-input-field>

    <div class="error" *ngIf="errors['plate']">
      {{ errors['plate'] }}
    </div>
  </div>

  <div class="field small">
    <app-input-field
      label="Ano"
      labelBgColor="#fff"
      type="text"
      [(ngModel)]="data.year"
    ></app-input-field>

    <div class="error" *ngIf="errors['year']">
      {{ errors['year'] }}
    </div>
  </div>
</div>

<div class="row">
  <div class="field">
    <app-input-field
      label="VIN"
      type="text"
      labelBgColor="#fff"
      [(ngModel)]="data.vin"
    ></app-input-field>

    <div class="error" *ngIf="errors['vin']">
      {{ errors['vin'] }}
    </div>
  </div>
</div>

<div class="row">
  <div class="field">
    <app-input-field
      label="Renavam"
      type="text"
      labelBgColor="#fff"
      [(ngModel)]="data.renavam"
    ></app-input-field>

    <div class="error" *ngIf="errors['renavam']">
      {{ errors['renavam'] }}
    </div>
  </div>
</div>

<div class="row">
  <div class="field">
    <app-input-field
      label="Nº Sinistro"
      type="text"
      labelBgColor="#fff"
      [(ngModel)]="data.insuranceClaimNumber"
    ></app-input-field>

    <div class="error" *ngIf="errors['insuranceClaimNumber']">
      {{ errors['insuranceClaimNumber'] }}
    </div>
  </div>
</div>
