<app-table-header icon="fa-solid fa-store" title="Lojas"></app-table-header>

<div class="table-container">
  <div class="table-scroll">
    <div class="table table-grid">
      <div class="table-head" [style.grid-template-columns]="'2fr 2fr 2fr 1fr 2fr 2fr 120px'">
        <div *ngFor="let col of columns">{{ col.label }}</div>
      </div>

      <div
        class="table-row"
        *ngFor="let store of stores"
        [style.grid-template-columns]="'2fr 2fr 2fr 1fr 2fr 2fr 120px'"
      >
        <div class="table-cell">{{ store.name }}</div>
        <div class="table-cell">{{ store.cnpj }}</div>
        <div class="table-cell">{{ store.street }}</div>
        <div class="table-cell">{{ store.number }}</div>
        <div class="table-cell">{{ store.city }}</div>
        <div class="table-cell">{{ store.neighborhood }}</div>

        <div class="table-cell">
          <app-table-actions (onEdit)="handleEdit(store)" (onDelete)="handleDelete(store)" />
        </div>
      </div>
    </div>
  </div>

  <app-modal *ngIf="activeModal === 'edit'" (close)="closeModal()" minWidth="800px">
    <app-steps-component></app-steps-component>
  </app-modal>

  <app-modal *ngIf="activeModal === 'edit'" (close)="closeModal()" minWidth="800px">
    <app-steps-component></app-steps-component>
  </app-modal>

  <app-modal-delete
    *ngIf="activeModal === 'delete'"
    [registro]="selectedStore?.id"
    (confirm)="confirmDelete()"
    (cancel)="closeModal()"
  ></app-modal-delete>

  <app-table-footer
    [page]="page"
    [totalPages]="totalPages"
    [totalItems]="stores.length"
    [pageSize]="5"
  ></app-table-footer>
</div>
