@import '../../../../style/styles.scss';

.table-head {
  grid-template-columns: 2fr 2fr 2fr 1fr 2fr 2fr 120px;

  background: #f7f8fc;
  color: #555;
  border-bottom: 1px solid #eee;
}

.table-row {
  grid-template-columns: 2fr 2fr 2fr 1fr 2fr 2fr 120px;

  border-bottom: 1px solid #f1f1f1;
}

.table-row:last-child {
  border-bottom: none;
}
