<div class="containerHeader">
  <h1>Novo Cliente</h1>
  <p>Adicione um novo cliente a sua loja</p>
  <app-back-button (back)="goBackList()"></app-back-button>
</div>

<app-register-card
  [title]="steps[stepIndex].title"
  [subtitle]="steps[stepIndex].description"
  [stpsatual]="stepIndex + 1"
  [steptotal]="steps.length"
  [image]="steps[stepIndex].image"
  [backgroundImage]="steps[stepIndex].background"
  (next)="nextStep()"
  (back)="previousStep()"
>
  <ng-container [ngSwitch]="stepIndex">
    <app-step-one-client
      *ngSwitchCase="0"
      [data]="clientData"
      [errors]="errors"
    ></app-step-one-client>

    <app-step-two-client
      *ngSwitchCase="1"
      [data]="clientData"
      [errors]="errors"
    ></app-step-two-client>

    <app-step-three-client
      *ngSwitchCase="2"
      [data]="clientData"
      [errors]="errors"
      [lojas]="lojas"
      [tiposLegais]="tiposLegais"
    ></app-step-three-client>
  </ng-container>
</app-register-card>
