<div style="display: flex; gap: 1rem">
  <app-input-field label="CEP" type="text" [(ngModel)]="addressZip"></app-input-field>
  <app-input-field label="Número" type="text" [(ngModel)]="addressNumber"></app-input-field>
</div>
<app-input-field label="Rua" type="text" [(ngModel)]="addressStreet"></app-input-field>
<app-input-field label="Bairro" type="text" [(ngModel)]="addressDistrict"></app-input-field>
<div style="display: flex; gap: 1rem">
  <app-input-field label="Cidade" type="text" [(ngModel)]="addressCity"></app-input-field>
  <app-input-field label="Estado" type="text" [(ngModel)]="addressState"></app-input-field>
</div>
