<app-select-field
  label="Cargo"
  [options]="cargosOptions"
  [(ngModel)]="data.cargo"
></app-select-field>
<div class="error" *ngIf="errors['cargo']">{{ errors['cargo'] }}</div>

<app-select-field
  label="Loja"
  type="text"
  labelBgColor="#fff"
  [(ngModel)]="data.loja"
  [options]="lojasOptionsSelect"
></app-select-field>
<div class="error" *ngIf="errors['loja']">{{ errors['loja'] }}</div>

<app-input-field label="Email" labelBgColor="#fff" [(ngModel)]="data.email"></app-input-field>
<div class="error" *ngIf="errors['email']">{{ errors['email'] }}</div>

<app-input-field
  label="Senha"
  type="password"
  labelBgColor="#fff"
  [(ngModel)]="data.senha"
></app-input-field>
<div class="error" *ngIf="errors['senha']">{{ errors['senha'] }}</div>
