<app-modal (close)="close()" minWidth="60%" minHeight="600px">
  <div class="popupContainer">
    <div
      class="modal-header"
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <div>
        <h2>Editar veículo</h2>
        <p>Edite um veículo e atualize informações</p>
      </div>
      <span
        class="close"
        (click)="close()"
        style="cursor: pointer; font-size: 24px; color: #999; margin-left: 16px; transition: 0.2s"
        >×</span
      >
    </div>

    <app-stepper
      [steps]="stepsConfig"
      [currentStep]="stepIndex"
      (stepChange)="setStep($event)"
    ></app-stepper>

    <div class="content">
      <ng-container [ngSwitch]="stepIndex">
        <div *ngSwitchCase="0" class="step-scroll">
          <div class="step-inner">
            <app-step-one-car
              [data]="carData"
              [errors]="errors"
              [clientes]="clientes"
            ></app-step-one-car>
          </div>
        </div>

        <div *ngSwitchCase="1" class="step-scroll">
          <div class="step-inner">
            <app-step-two-car [data]="carData" [errors]="errors"></app-step-two-car>
          </div>
        </div>

        <app-review-step *ngSwitchCase="2" [sections]="reviewData"></app-review-step>
      </ng-container>
    </div>

    <div class="buttons">
      <app-toggle-actions
        [backLabel]="stepIndex === 0 ? 'Cancelar' : 'Voltar'"
        [nextLabel]="isLastStep ? 'Salvar' : 'Avançar'"
        (back)="handleBack()"
        (next)="handleNext()"
      ></app-toggle-actions>
    </div>
  </div>
</app-modal>
