<footer class="footer">
  <div class="footer-top">
    <div class="footer-logo-text">
      <img width="200" src="/assets/logos/Logotipo.svg" alt="logotipo" />
      <p>
        O Mechanic System é uma plataforma completa de gerenciamento de oficinas automotivas,
        projetada para otimizar processos, organizar serviços e facilitar o dia a dia de sua
        oficina.
      </p>
    </div>

    <div class="footer-icons">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© Todos os direitos reservados Steffany Medeiros Lopes & Nathália Almeida Amorim, 2026</p>
  </div>
</footer>
