<footer class="footer">
  <div class="footer-top">
    <div class="footer-logo-text">
      <img width="250" src="/assets/logos/Logotipo.svg" alt="logotipo" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.
      </p>
    </div>

    <div class="footer-icons">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© Todos os direitos reservados Steffany Medeiros Lopes & Nathália Almeida Amorim, 2026</p>
  </div>
</footer>
