<app-table-header
  icon="fa-solid fa-file-invoice"
  iconSrc="assets/icons/chart.svg"
  title="Ordens de Serviço"
  (search)="handleSearch($event)"
></app-table-header>

<div class="table-container">
  <div class="table-scroll">
    <div class="table table-grid">
      <div
        class="table-head"
        [style.grid-template-columns]="
            '80px minmax(120px,1fr) minmax(120px,1fr) minmax(120px,1fr) minmax(160px,1fr) minmax(160px,1fr) 140px 120px'
        "
      >
        <div *ngFor="let col of columns">{{ col.label }}</div>
      </div>

      <div
        class="table-row"
        *ngFor="let os of osList"
        [style.grid-template-columns]="
            '80px minmax(120px,1fr) minmax(120px,1fr) minmax(120px,1fr) minmax(160px,1fr) minmax(160px,1fr) 140px 120px'
        "
      >
        <div class="table-cell">{{ os.id }}</div>
        <div class="table-cell">{{ os.unitName }}</div>
        <div class="table-cell">{{ os.totalAmount | currency: 'BRL' }}</div>
        <div class="table-cell">{{ os.vehiclePlate }}</div>
        <div class="table-cell">{{ os.ownerCustomerName }}</div>
        <div class="table-cell">
          <span class="status" [ngClass]="normalizeStatus(os.statusCode)">
            {{ os.statusName }}
          </span>
        </div>

        <app-status-modal
          *ngIf="activeModal === 'status' && selectedOs as currentOs"
          [isOpen]="true"
          [pedidoId]="currentOs.id"
          [current]="normalizeStatus(currentOs.statusCode)"
          (onClose)="closeModal()"
          (onConfirm)="updateStatus($event)"
        ></app-status-modal>

        <div class="table-cell-center">
          <app-dropdown-actions
            (onEdit)="handleEdit(os)"
            (onDelete)="handleDelete(os)"
            (onStatus)="alterarStatus(os)"
            (onDownload)="baixarDocumento(os)"
          ></app-dropdown-actions>
        </div>
      </div>
    </div>
  </div>

  <app-edit-os-modal
    *ngIf="activeModal === 'edit'"
    [os]="selectedOs"
    (closeModalEvent)="closeModal()"
  ></app-edit-os-modal>

  <app-modal-delete
    *ngIf="activeModal === 'delete'"
    [registro]="selectedOs?.id"
    (confirm)="confirmDelete()"
    (cancel)="closeModal()"
  ></app-modal-delete>

  <app-table-footer
    [page]="page"
    [totalPages]="totalPages"
    [totalItems]="osList.length"
    [pageSize]="5"
    (pageChange)="changePage($event)"
  ></app-table-footer>
</div>
