<div class="form-container">
    <form class="form-content">
    <div class="code-input-group">
    <ng-container *ngFor="let digit of digits; let i = index">
        <div class="code-box">
        <input
            #codeInput
            class="code-input"
            type="text"
            maxlength="1"
            [value]="code[i] || ''"
            (input)="onInput($event, i)"
            (keydown)="onKeyDown($event, i)"
            (paste)="onPaste($event)"
            autocomplete="one-time-code"
            inputmode="numeric"
        />
        <span class="code-placeholder" *ngIf="!code[i]">0</span>
        </div>
    </ng-container>
    </div>
    <div class="error" *ngIf="stepTwoErrors['code']">{{ stepTwoErrors['code'] }}</div>
    </form>
</div>
