<app-select-field
  label="Loja"
  [options]="lojas"
  [(ngModel)]="data.loja"
  labelBgColor="#fff"
></app-select-field>
<div class="error" *ngIf="errors['loja']">
  {{ errors['loja'] }}
</div>

<app-select-field
  label="Tipo Legal"
  [options]="tiposLegais"
  [(ngModel)]="data.tipoLegal"
  labelBgColor="#fff"
></app-select-field>
<div class="error" *ngIf="errors['tipoLegal']">
  {{ errors['tipoLegal'] }}
</div>

<app-input-field label="Observações" [(ngModel)]="data.notes" labelBgColor="#fff"></app-input-field>
