<app-input-field
  label="Nome"
  type="text"
  [(ngModel)]="name"
  labelBgColor="#fff"
  (ngModelChange)="nameChange.emit($event)"
></app-input-field>
<div class="error" *ngIf="errors['nome']">{{ errors['nome'] }}</div>

<app-input-field
  label="CPF"
  type="text"
  [(ngModel)]="cpf"
  labelBgColor="#fff"
  (ngModelChange)="cpfChange.emit($event)"
></app-input-field>
<div class="error" *ngIf="errors['cpf']">{{ errors['cpf'] }}</div>

<app-input-field
  label="Telefone"
  type="text"
  [(ngModel)]="phone"
  labelBgColor="#fff"
  (ngModelChange)="phoneChange.emit($event)"
></app-input-field>
<div class="error" *ngIf="errors['telefone']">{{ errors['telefone'] }}</div>
