<app-input-field
  label="Nome"
  type="text"
  [(ngModel)]="data.nome"
  labelBgColor="#fff"
></app-input-field>
<div class="error" *ngIf="errors['nome']">{{ errors['nome'] }}</div>

<app-input-field
  label="CPF/CNPJ"
  type="text"
  mask="cpfCnpj"
  [(ngModel)]="data.cpf"
  labelBgColor="#fff"
></app-input-field>
<div class="error" *ngIf="errors['cpf']">{{ errors['cpf'] }}</div>

<app-input-field
  label="Telefone"
  type="text"
  mask="phone"
  [(ngModel)]="data.telefone"
  labelBgColor="#fff"
></app-input-field>
<div class="error" *ngIf="errors['telefone']">{{ errors['telefone'] }}</div>
