<div style="display: flex; gap: 1rem">
  <div style="flex: 1; display: flex; flex-direction: column">
    <app-input-field
      label="CEP"
      mask="cep"
      [(ngModel)]="data.addressZip"
      (ngModelChange)="searchCep($event)"
      labelBgColor="#fff"
    ></app-input-field>
    <div class="error" *ngIf="errors['addressZip']">
      {{ errors['addressZip'] }}
    </div>
  </div>

  <div style="flex: 0.5; display: flex; flex-direction: column">
    <app-input-field
      label="Número"
      [(ngModel)]="data.addressNumber"
      labelBgColor="#fff"
    ></app-input-field>
    <div class="error" *ngIf="errors['addressNumber']">
      {{ errors['addressNumber'] }}
    </div>
  </div>
</div>

<!-- Rua -->
<div style="display: flex; flex-direction: column">
  <app-input-field
    label="Rua"
    [(ngModel)]="data.addressStreet"
    labelBgColor="#fff"
  ></app-input-field>
  <div class="error" *ngIf="errors['addressStreet']">
    {{ errors['addressStreet'] }}
  </div>
</div>

<!-- Bairro -->
<div style="display: flex; flex-direction: column">
  <app-input-field
    label="Bairro"
    [(ngModel)]="data.addressDistrict"
    labelBgColor="#fff"
  ></app-input-field>
  <div class="error" *ngIf="errors['addressDistrict']">
    {{ errors['addressDistrict'] }}
  </div>
</div>

<!-- Cidade e Estado -->
<div style="display: flex; gap: 1rem">
  <div style="flex: 1; display: flex; flex-direction: column">
    <app-input-field
      label="Cidade"
      [(ngModel)]="data.addressCity"
      labelBgColor="#fff"
    ></app-input-field>
    <div class="error" *ngIf="errors['addressCity']">
      {{ errors['addressCity'] }}
    </div>
  </div>

  <div style="flex: 0.5; display: flex; flex-direction: column">
    <app-input-field
      label="Estado"
      [(ngModel)]="data.addressState"
      labelBgColor="#fff"
    ></app-input-field>
    <div class="error" *ngIf="errors['addressState']">
      {{ errors['addressState'] }}
    </div>
  </div>
</div>
