<div style="display: flex; gap: 1rem">
  <app-input-field
    label="CEP"
    [(ngModel)]="addressZip"
    (ngModelChange)="addressZipChange.emit($event)"
    style="flex: 1"
  ></app-input-field>

  <app-input-field
    label="Número"
    [(ngModel)]="addressNumber"
    (ngModelChange)="addressNumberChange.emit($event)"
    style="flex: 0.5"
  ></app-input-field>
</div>

<app-input-field
  label="Rua"
  [(ngModel)]="addressStreet"
  (ngModelChange)="addressStreetChange.emit($event)"
></app-input-field>

<app-input-field
  label="Bairro"
  [(ngModel)]="addressDistrict"
  (ngModelChange)="addressDistrictChange.emit($event)"
></app-input-field>

<div style="display: flex; gap: 1rem">
  <app-input-field
    label="Cidade"
    [(ngModel)]="addressCity"
    (ngModelChange)="addressCityChange.emit($event)"
    style="flex: 1"
  ></app-input-field>

  <app-input-field
    label="Estado"
    [(ngModel)]="addressState"
    (ngModelChange)="addressStateChange.emit($event)"
    style="flex: 0.5"
  ></app-input-field>
</div>
