<div class="row">
  <div class="container-w">
    <app-input-field label="CEP" [(ngModel)]="data.addressZip"></app-input-field>
    <div class="error" *ngIf="errors['addressZip']">
      {{ errors['addressZip'] }}
    </div>
  </div>

  <div class="container-w">
    <app-input-field
      label="Número"
      labelBgColor="#fff"
      type="text"
      [(ngModel)]="data.addressNumber"
    ></app-input-field>
    <div class="error" *ngIf="errors['addressNumber']">
      {{ errors['addressNumber'] }}
    </div>
  </div>
</div>

<div class="field">
  <app-input-field
    label="Rua"
    labelBgColor="#fff"
    type="text"
    [(ngModel)]="data.addressStreet"
  ></app-input-field>
  <div class="error" *ngIf="errors['addressStreet']">
    {{ errors['addressStreet'] }}
  </div>
</div>

<div class="field">
  <app-input-field
    label="Bairro"
    type="text"
    labelBgColor="#fff"
    [(ngModel)]="data.addressDistrict"
  ></app-input-field>
  <div class="error" *ngIf="errors['addressDistrict']">
    {{ errors['addressDistrict'] }}
  </div>
</div>

<div class="row">
  <div class="field">
    <app-input-field
      label="Cidade"
      type="text"
      labelBgColor="#fff"
      [(ngModel)]="data.addressCity"
    ></app-input-field>
    <div class="error" *ngIf="errors['addressCity']">
      {{ errors['addressCity'] }}
    </div>
  </div>

  <div class="field small">
    <app-input-field
      label="Estado"
      type="text"
      labelBgColor="#fff"
      [(ngModel)]="data.addressState"
    ></app-input-field>
    <div class="error" *ngIf="errors['addressState']">
      {{ errors['addressState'] }}
    </div>
  </div>
</div>
