<div class="form-container">
  <form class="form-content">
    <app-input-field
      name="name"
      type="text"
      label="Nome da empresa"
      [maxlength]="50"
      [(ngModel)]="formService.stepOneData.name"
    ></app-input-field>
    <div class="error" *ngIf="stepOneErrors['name']">{{ stepOneErrors['name'] }}</div>

    <app-input-field
      name="storeName"
      type="text"
      label="Nome da loja"
      [(ngModel)]="formService.stepOneData.storeName"
    ></app-input-field>
    <div class="error" *ngIf="stepOneErrors['storeName']">
      {{ stepOneErrors['storeName'] }}
    </div>

    <app-input-field
      name="cnpj"
      type="text"
      label="CNPJ"
      mask="cnpj"
      [(ngModel)]="formService.stepOneData.cnpj"
    ></app-input-field>
    <div class="error" *ngIf="stepOneErrors['cnpj']">{{ stepOneErrors['cnpj'] }}</div>
  </form>
</div>
