<nav class="sidebar" [class.collapsed]="collapsed">
  <div class="user" (click)="expandSidebar()">
    <div class="avatar">E</div>
    <p class="email">testeemailgmail.com</p>
  </div>

  <ul class="menu">
    <li routerLink="/stores-list" routerLinkActive="active" (click)="expandSidebar()">
      <img src="assets/icons/building.svg" />
      <span>Loja</span>
    </li>

    <li routerLink="/employees-list" routerLinkActive="active" (click)="expandSidebar()">
      <img src="assets/icons/profile-2user.svg" />
      <span>Funcionarios</span>
    </li>

    <li routerLink="/clients-list" routerLinkActive="active" (click)="expandSidebar()">
      <img src="assets/icons/profile.svg" />
      <span>Clientes</span>
    </li>

    <li routerLink="/os-list" routerLinkActive="active" (click)="expandSidebar()">
      <img src="assets/icons/chart.svg" />
      <span>OSs</span>
    </li>

    <li routerLink="/car-list" outerLinkActive="active" (click)="expandSidebar()">
      <img src="assets/icons/car.svg" />
      <span>Veiculos</span>
    </li>
    <!--<li (click)="expandSidebar()">
      <img src="assets/icons/building.svg" />
      <span>Empresa</span>
    </li> -->
  </ul>

  <button class="logout">
    <div class="icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></div>
    <span>Sair</span>
  </button>

  <button class="toggle" (click)="toggleSidebar()">
    <i class="fa-solid fa-chevron-left"></i>
  </button>
</nav>
