<nav class="sidebar" [class.collapsed]="collapsed">
  <div class="user" (click)="expandSidebar()">
    <div class="avatar">E</div>
    <p class="email">{{ emailLogged }}</p>
  </div>

  <ul class="menu">
    <li *ngIf="isAdmin">
      <div
        class="menu-item"
        (click)="collapsed ? navigate('/tenant-list') : toggleSubmenu('tenants')"
      >
        <img src="assets/icons/tenant.svg" />
        <span>Empresa</span>
        <i
          *ngIf="!collapsed"
          class="fa-solid"
          [ngClass]="{ 'fa-chevron-down': !tenantsOpen, 'fa-chevron-up': tenantsOpen }"
        ></i>
      </div>
      <ul class="submenu" *ngIf="tenantsOpen && !collapsed">
        <li routerLink="/tenant-list">Listar Empresa</li>
      </ul>
    </li>
    <li *ngIf="isAdmin">
      <div
        class="menu-item"
        (click)="collapsed ? navigate('/stores-list') : toggleSubmenu('stores')"
      >
        <i class="fa-solid fa-store menu-icon"></i>
        <span>Lojas</span>
        <i
          *ngIf="!collapsed"
          class="fa-solid"
          [ngClass]="{ 'fa-chevron-down': !storesOpen, 'fa-chevron-up': storesOpen }"
        ></i>
      </div>
      <ul class="submenu" *ngIf="storesOpen && !collapsed">
        <li routerLink="/stores-list">Listar lojas</li>
        <li routerLink="/stores-create">Criar loja</li>
      </ul>
    </li>

    <li>
      <div
        class="menu-item"
        (click)="collapsed ? navigate('/employees-list') : toggleSubmenu('employees')"
      >
        <img src="assets/icons/profile-2user.svg" />
        <span>Funcionários</span>
        <i
          *ngIf="!collapsed"
          class="fa-solid"
          [ngClass]="{ 'fa-chevron-down': !employeesOpen, 'fa-chevron-up': employeesOpen }"
        ></i>
      </div>
      <ul class="submenu" *ngIf="employeesOpen && !collapsed">
        <li routerLink="/employees-list">Listar funcionários</li>
        <li routerLink="/employees-create">Criar funcionário</li>
      </ul>
    </li>

    <li>
      <div
        class="menu-item"
        (click)="collapsed ? navigate('/clients-list') : toggleSubmenu('clients')"
      >
        <img src="assets/icons/profile.svg" />
        <span>Clientes</span>
        <i
          *ngIf="!collapsed"
          class="fa-solid"
          [ngClass]="{ 'fa-chevron-down': !clientsOpen, 'fa-chevron-up': clientsOpen }"
        ></i>
      </div>
      <ul class="submenu" *ngIf="clientsOpen && !collapsed">
        <li routerLink="/clients-list">Listar clientes</li>
        <li routerLink="/clients-create">Criar cliente</li>
      </ul>
    </li>

    <li>
      <div class="menu-item" (click)="collapsed ? navigate('/os-list') : toggleSubmenu('oss')">
        <img src="assets/icons/chart.svg" />
        <span>OSs</span>
        <i
          *ngIf="!collapsed"
          class="fa-solid"
          [ngClass]="{ 'fa-chevron-down': !ossOpen, 'fa-chevron-up': ossOpen }"
        ></i>
      </div>
      <ul class="submenu" *ngIf="ossOpen && !collapsed">
        <li routerLink="/os-list">Listar OSs</li>
        <li routerLink="/os-create">Criar OS</li>
      </ul>
    </li>

    <li>
      <div class="menu-item" (click)="collapsed ? navigate('/car-list') : toggleSubmenu('cars')">
        <img src="assets/icons/car.svg" />
        <span>Veículos</span>
        <i
          *ngIf="!collapsed"
          class="fa-solid"
          [ngClass]="{ 'fa-chevron-down': !carsOpen, 'fa-chevron-up': carsOpen }"
        ></i>
      </div>
      <ul class="submenu" *ngIf="carsOpen && !collapsed">
        <li routerLink="/car-list">Listar veículos</li>
        <li routerLink="/car-create">Criar veículo</li>
      </ul>
    </li>

    <li>
      <div
        class="menu-item"
        (click)="collapsed ? navigate('/nfs-grouping-store') : toggleSubmenu('nfs')"
      >
        <img src="assets/icons/nf.svg" />
        <span>NFs</span>
        <i
          *ngIf="!collapsed"
          class="fa-solid"
          [ngClass]="{ 'fa-chevron-down': !nfsOpen, 'fa-chevron-up': nfsOpen }"
        ></i>
      </div>
      <ul class="submenu" *ngIf="nfsOpen && !collapsed">
        <li routerLink="/nfs-grouping-store">Agrupamento por loja</li>
      </ul>
    </li>
  </ul>

  <button class="logout" (click)="logout()">
    <div class="icon">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
    </div>
    <span>Sair</span>
  </button>

  <button class="toggle" (click)="toggleSidebar()">
    <i class="fa-solid fa-chevron-left"></i>
  </button>
</nav>
