<app-modal (close)="close()" minWidth="60%" minHeight="600px">
  <div class="popupContainer">
    <div
      class="modal-header"
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <div>
        <h2>Editar funcionário</h2>
        <p>Edite um funcionário e atualize informações</p>
      </div>
      <span
        class="close"
        (click)="close()"
        style="cursor: pointer; font-size: 24px; color: #999; margin-left: 16px; transition: 0.2s"
        >×</span
      >
    </div>

    <app-stepper
      [steps]="stepsConfig"
      [currentStep]="stepIndex"
      (stepChange)="setStep($event)"
    ></app-stepper>

    <div class="content">
      <ng-container [ngSwitch]="stepIndex">
        <app-step-one *ngSwitchCase="0" [data]="employeeData" [errors]="errors"></app-step-one>

        <app-step-two *ngSwitchCase="1" [data]="employeeData" [errors]="errors"></app-step-two>

        <app-step-three *ngSwitchCase="2" [data]="employeeData" [errors]="errors"></app-step-three>

        <app-review-step *ngSwitchCase="3" [sections]="reviewData"></app-review-step>
      </ng-container>
    </div>

    <div class="buttons">
      <app-toggle-actions
        [backLabel]="stepIndex === 0 ? 'Cancelar' : 'Voltar'"
        [nextLabel]="isLastStep ? 'Salvar' : 'Avançar'"
        (back)="handleBack()"
        (next)="handleNext()"
      ></app-toggle-actions>
    </div>
  </div>
</app-modal>
