<app-input-field
  label="CPF/CNPJ"
  type="text"
  mask="cpfCnpj"
  [(ngModel)]="data.cpfCnpj"
  (ngModelChange)="onCpfCnpjChange($event)"
  labelBgColor="#fff"
></app-input-field>
<div class="error" *ngIf="errors['cpfCnpj']">
  {{ errors['cpfCnpj'] }}
</div>

<app-input-field
  label="Nome"
  type="text"
  [(ngModel)]="data.nome"
  [disabled]="fieldsDisabled"
  labelBgColor="#fff"
></app-input-field>
<div class="error" *ngIf="errors['nome']">
  {{ errors['nome'] }}
</div>

<app-input-field
  label="phone"
  mask="phone"
  type="text"
  [(ngModel)]="data.phone"
  [disabled]="fieldsDisabled"
  labelBgColor="#fff"
></app-input-field>
<div class="error" *ngIf="errors['phone']">
  {{ errors['phone'] }}
</div>

<app-input-field
  label="Email"
  type="text"
  mask="email"
  [(ngModel)]="data.email"
  [disabled]="fieldsDisabled"
  labelBgColor="#fff"
></app-input-field>
<div class="error" *ngIf="errors['email']">
  {{ errors['email'] }}
</div>
