<div class="titles">
  <h1>Informações da OS</h1>
  <h2>Cadastre uma nova ordem de serviço</h2>
</div>
<form>
  <div class="os-row os-row-3">
    <app-select-field
      label="Loja"
      [options]="lojaOptions"
      labelBgColor="#fff"
      [ngModel]="loja"
      (ngModelChange)="updateField('loja', $event)"
      name="loja"
    ></app-select-field>
    <app-select-field
      label="Cliente"
      [options]="clienteOptions"
      labelBgColor="#fff"
      [disabled]="!loja"
      [ngModel]="cliente"
      (ngModelChange)="updateField('cliente', $event)"
      name="cliente"
    ></app-select-field>
    <app-select-field
      label="Veículo"
      [options]="veiculoOptions"
      labelBgColor="#fff"
      [disabled]="!loja || !cliente"
      [ngModel]="veiculo"
      (ngModelChange)="updateField('veiculo', $event)"
      name="veiculo"
    ></app-select-field>
  </div>
  <div class="os-row">
    <app-input-field
      label="Data de Entrada"
      type="date"
      labelBgColor="#fff"
      [ngModel]="dataEntrada"
      (ngModelChange)="updateField('dataEntrada', $event)"
      name="dataEntrada"
      class="input-flex"
    ></app-input-field>
    <app-input-field
      label="Previsão data de saída"
      type="date"
      labelBgColor="#fff"
      [ngModel]="dataSaida"
      (ngModelChange)="updateField('dataSaida', $event)"
      name="dataSaida"
      class="input-flex"
    ></app-input-field>
  </div>
  <div class="os-row">
    <div class="os-field-group">
      <app-input-field
        label="Pintura"
        labelBgColor="#fff"
        type="text"
        [ngModel]="pintura"
        (ngModelChange)="updateField('pintura', $event)"
        name="pintura"
      ></app-input-field>
      <app-input-field
        label="Valor da pintura"
        type="text"
        labelBgColor="#fff"
        [ngModel]="valorPintura"
        (ngModelChange)="updateField('valorPintura', $event)"
        name="valorPintura"
        class="small-input"
        mask="currency"
      ></app-input-field>
    </div>
  </div>
  <div class="os-row">
    <div class="os-field-group">
      <app-input-field
        label="Funilaria"
        labelBgColor="#fff"
        type="text"
        [ngModel]="funilaria"
        (ngModelChange)="updateField('funilaria', $event)"
        name="funilaria"
      ></app-input-field>
      <app-input-field
        label="Valor da Funilaria"
        type="text"
        labelBgColor="#fff"
        [ngModel]="valorFunilaria"
        (ngModelChange)="updateField('valorFunilaria', $event)"
        name="valorFunilaria"
        class="small-input"
        mask="currency"
      ></app-input-field>
    </div>
  </div>
</form>
