<div class="titles">
  <h1>Informações da OS</h1>
  <h2>Cadastre uma nova ordem de serviço</h2>
</div>

<form class="form-container">
  <div class="os-row os-row-3">
    <div class="field">
      <app-select-field
        label="Loja"
        [options]="lojaOptions"
        labelBgColor="#fff"
        [(ngModel)]="data.loja"
        name="loja"
      ></app-select-field>
      <div *ngIf="errors['loja']" class="error">{{ errors['loja'] }}</div>
    </div>

    <div class="field">
      <app-select-field
        label="Cliente"
        [options]="clienteOptions"
        labelBgColor="#fff"
        [disabled]="!data.loja"
        [(ngModel)]="data.cliente"
        name="cliente"
      ></app-select-field>
      <div *ngIf="errors['cliente']" class="error">{{ errors['cliente'] }}</div>
    </div>

    <div class="field">
      <app-select-field
        label="Veículo"
        [options]="veiculoOptions"
        labelBgColor="#fff"
        [disabled]="!data.loja || !data.cliente"
        [(ngModel)]="data.veiculo"
        name="veiculo"
      ></app-select-field>
      <div *ngIf="errors['veiculo']" class="error">{{ errors['veiculo'] }}</div>
    </div>
  </div>

  <!-- Linha 2: Datas -->
  <div class="os-row">
    <div class="field input-flex">
      <app-input-field
        label="Data de Entrada"
        type="date"
        labelBgColor="#fff"
        [(ngModel)]="data.dataEntrada"
        name="dataEntrada"
        [min]="today"
        (ngModelChange)="onDataEntradaChange($event)"
      ></app-input-field>
      <div *ngIf="errors['dataEntrada']" class="error">{{ errors['dataEntrada'] }}</div>
    </div>

    <div class="field input-flex">
      <app-input-field
        label="Previsão de Saída"
        type="date"
        labelBgColor="#fff"
        [(ngModel)]="data.dataSaida"
        name="dataSaida"
        [min]="minDataSaida"
        [max]="maxDataSaida"
        (ngModelChange)="onDataSaidaChange($event)"
      ></app-input-field>
      <div *ngIf="errors['dataSaida']" class="error">{{ errors['dataSaida'] }}</div>
    </div>
  </div>

  <!-- Linha 3: Pintura + Valor -->
  <div class="os-row">
    <div class="os-field-group">
      <div class="field">
        <app-input-field
          label="Pintura"
          type="text"
          labelBgColor="#fff"
          [(ngModel)]="data.pintura"
          name="pintura"
          [maxlength]="100"
        ></app-input-field>
        <div *ngIf="errors['pintura']" class="error">{{ errors['pintura'] }}</div>
      </div>

      <div class="field small-input">
        <app-input-field
          label="Valor da Pintura"
          type="text"
          labelBgColor="#fff"
          [(ngModel)]="data.valorPintura"
          name="valorPintura"
          mask="currency"
        ></app-input-field>
        <div *ngIf="errors['valorPintura']" class="error">{{ errors['valorPintura'] }}</div>
      </div>
    </div>
  </div>

  <div class="os-row">
    <div class="os-field-group">
      <div class="field">
        <app-input-field
          label="Mecânica"
          type="text"
          labelBgColor="#fff"
          [(ngModel)]="data.mecanica"
          name="mecanica"
          [maxlength]="100"
        ></app-input-field>
        <div *ngIf="errors['mecanica']" class="error">{{ errors['mecanica'] }}</div>
      </div>

      <div class="field small-input">
        <app-input-field
          label="Valor da Mecânica"
          type="text"
          labelBgColor="#fff"
          [(ngModel)]="data.valorMecanica"
          name="valorMecanica"
          mask="currency"
        ></app-input-field>
        <div *ngIf="errors['valorMecanica']" class="error">{{ errors['valorMecanica'] }}</div>
      </div>
    </div>
  </div>

  <div class="os-row">
    <div class="os-field-group">
      <div class="field">
        <app-input-field
          label="Funilaria"
          type="text"
          labelBgColor="#fff"
          [(ngModel)]="data.funilaria"
          name="funilaria"
          [maxlength]="100"
        ></app-input-field>
        <div *ngIf="errors['funilaria']" class="error">{{ errors['funilaria'] }}</div>
      </div>

      <div class="field small-input">
        <app-input-field
          label="Valor da Funilaria"
          type="text"
          labelBgColor="#fff"
          [(ngModel)]="data.valorFunilaria"
          name="valorFunilaria"
          mask="currency"
        ></app-input-field>
        <div *ngIf="errors['valorFunilaria']" class="error">{{ errors['valorFunilaria'] }}</div>
      </div>
    </div>
  </div>
</form>
