.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70vb;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 2rem;
  }
}

.form-content {
  display: flex;
  flex-direction: column;
}

.btn-primary {
  margin-top: 1rem;
}
