@use '../../../../style/styles.scss' as *;

.containerHeader {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 2rem;
  gap: 10px;
}

.containerHeader p {
  color: var(--color-default);
  font-weight: 600;
}

.button p {
  color: white;
}

.container {
  margin-top: 2rem;
}
