/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Tema padrão (light) */
:root {
  --color-bg: #f9f9fa;
  --color-text: #262f47;
  --color-primary: #232c45;
  --color-text: #262f47;
  --color-default: #636975;
  --color-secondary: #ff592d;
  --color-details-yellow: #ff9e2d;
  --color-details-yellow: #3461e0;
  --color-border: #a2a2a3;
  --color-border-blue: #668eff;
}

/* Tema dark (ainda não definido)*/
.dark-theme {
  --color-bg: #0f172a;
  --color-text: #262f47;
  --color-primary: #232c45;
  --color-secondary: #ff592d;
  --color-details-yellow: #ff9e2d;
  --color-details-yellow: #3461e0;
  --color-border: #a2a2a3;
  --color-border-blue: #668eff;
}

html,
body {
  height: 100%;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 8px;
}
