<div class="containerHeader">
    <h1>Bem vindo! {{ profile.name }}</h1>
    <p>Seja bem vindo ao módulo de administrador do MotorCore </p>
  <form class="profile-form" (submit)="onSubmit($event)">
    <app-input-field
      type="text"
      id="profileName"
      label="Nome"
      placeholder="Digite seu nome"
      [maxlength]="100"
      [(ngModel)]="editProfile.name"
      name="profileName"
      required
    ></app-input-field>

    <app-input-field
      type="text"
      id="profileEmail"
      label="Email"
      placeholder="Digite seu email"
      [maxlength]="100"
      [(ngModel)]="editProfile.email"
      name="profileEmail"
    ></app-input-field>

    <app-input-field
      type="text"
      id="profileRole"
      label="Cargo"
      [ngModel]="profile.role"
      name="profileRole"
      [disabled]="true"
    ></app-input-field>

    <button type="submit" class="btn-primary upscale">Editar dados</button>
  </form>
</div>
