<div class="containerHeader">
  <h1>Bem vindo! [nome]</h1>
  <p>Seja bem vindo ao modulo de administrador do sistemas de Oficina mecanica</p>
  <form class="profile-form">
    <app-input-field
      type="text"
      id="profileEmail"
      label="Email"
      placeholder="Digite seu email"
      [maxlength]="100"
      [(ngModel)]="profile.email"
      name="profileEmail"
    />

    <app-input-field
      type="password"
      id="profilePassword"
      label="Senha"
      [maxlength]="50"
      [(ngModel)]="profile.password"
      name="profilePassword"
      [disabled]="true"
    />

    <app-input-field
      type="text"
      id="profileRole"
      label="Cargo"
      [(ngModel)]="profile.role"
      name="profileRole"
      [disabled]="true"
    />
    <button type="submit" class="btn-primary upscale">Editar dados</button>
  </form>
</div>
