<div class="containerHeader">
  <div class="header-top">
    <h1>Veículos</h1>
    <p>Gerencie e visualize aqui os veículos referentes às suas lojas</p>
  </div>

  <div class="header-bottom">
    <div class="containerButtons">
      <div class="buttonContainer">
        <button class="button upscale" [routerLink]="['/car-create']">
          <p>Novo Veículo</p>
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>

      <div class="filters">
        <div class="select">
          <app-select-field label="Lojas" [options]="lojasOptions" [(ngModel)]="filters.unitId"></app-select-field>
        </div>
        <button class="btn-primary" type="button" (click)="applyFilters()">
          <p>Filtrar</p>
        </button>
      </div>
    </div>
  </div>
</div>

<app-table-car [filters]="appliedFilters"></app-table-car>
