<div class="containerHeader">
  <div class="header-top">
    <h1>Veículos</h1>
    <p>Gerencie e visualize aqui os veículos referentes às suas lojas</p>
  </div>

  <div class="header-bottom">
    <!-- ESQUERDA -->
    <div class="buttonContainer">
      <button class="button upscale" [routerLink]="['/car-create']">
        <p>Novo Veículo</p>
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>

    <!-- DIREITA -->
    <div class="filters">
      <div class="select">
        <app-input-field label="Placa"></app-input-field>
      </div>

      <div class="select">
        <app-select-field label="Lojas"></app-select-field>
      </div>

      <button class="button btn-primary">
        <p>Filtrar</p>
      </button>
    </div>
  </div>
</div>
