<div class="containerHeader">
  <div class="header-top">
    <h1>Veículos</h1>
    <p>Gerencie e visualize aqui os veículos referentes às suas lojas</p>
  </div>

  <div class="header-bottom">
    <div class="containerButtons">
      <app-action-button
        label="Filtros"
        icon="fa-solid fa-sliders"
        (clickAction)="toggleDropdown()"
      ></app-action-button>

      <app-action-button
        label="Novo Veículo"
        icon="fa-solid fa-plus"
        route="/car-create"
        variant="primary"
      ></app-action-button>
    </div>
  </div>
</div>

<app-dropdown
  [open]="openDropdown"
  [groups]="filterGroups"
  [(filters)]="filters"
  (applyFilters)="applyFilters()"
  (clearFilters)="clearFilters()"
></app-dropdown>

<app-table-car [filters]="appliedFilters"></app-table-car>
