<app-input-field label="Nome da Loja" [(ngModel)]="data.name"></app-input-field>
<div *ngIf="errors['name']" class="error">
  {{ errors['name'] }}
</div>

<app-input-field label="CNPJ" mask="cnpj" [(ngModel)]="data.cnpj"></app-input-field>
<div *ngIf="errors['cnpj']" class="error">
  {{ errors['cnpj'] }}
</div>

<app-input-field label="Telefone" mask="phone" [(ngModel)]="data.phone"></app-input-field>
<div *ngIf="errors['phone']" class="error">
  {{ errors['phone'] }}
</div>

<app-input-field label="Email" [(ngModel)]="data.email"></app-input-field>
<div *ngIf="errors['email']" class="error">
  {{ errors['email'] }}
</div>
